/* === BUTTONS === */

.btn-read-more,
.btn-locations,
.btn-buy-now,
.btn-franchise {
  @include flex-centered();

  height: 42px;

  &__icon {
    fill: inherit;
  }

  &:focus &__icon {
    fill: $mainColor;
  }
}

.btn-read-more,
.btn-locations,
.btn-buy-now {
  @extend %btn-colored-bg;
}

.btn-franchise {
  @extend %btn-transparent-bg;
}

.btn-read-more {
  width: 164px;
}

.btn-locations,
.btn-franchise {
  width: 196px;
}

.btn-buy-now {
  width: 152px;
}

// Button Products (link with button styles)

.btn-products {
  @extend %btn-transparent-bg;
  @extend %link-btn-styled;

  width: 108px;
  height: 38px;

  @include only-desktop {
    width: 134px;
    height: 42px;

    font-size: 12px;
    line-height: calc(15 / 12);
    border-radius: 8px;
  }
}

// Button How it's made (link with button styles)

.btn-how-its-made {
  @extend %btn-transparent-bg-no-border;
  @extend %link-btn-styled;

  width: 100px;
  height: 24px;

  font-size: 12px;
  line-height: calc(15 / 12);

  color: $mainAccentColor;

  @include only-tablet {
    width: 114px;
  }

  @include only-desktop {
    width: 154px;
    height: 40px;

    font-size: 14px;
    line-height: calc(17 / 14);
  }

  &:hover {
    color: $secondaryAccentColor;
  }

  &:focus {
    color: $mainColor;
  }
}

// Submit buttons

.submit-btn {
  width: 114px;
  height: 42px;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  text-align: center;

  color: $secondaryColor;
  background-color: $mainAccentColor;
  border: none;
  border-radius: 10px;

  @include tablet-and-desktop {
    width: 121px;

    font-size: 14px;
    line-height: calc(1 / 14);
  }

  &:hover {
    background-color: $secondaryAccentColor;
  }

  &:focus {
    color: $mainColor;
    background-color: $secondaryAccentColor;
    outline: none;
  }
}
