.container {
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  height: 1937px;

  // mobile screen
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  // tablet screen
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  // desktop screen
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
