.container {
  padding: 0 $containerPadMobile;
  margin-right: auto;
  margin-left: auto;

  // mobile screen
  @media screen and (min-width: 480px) {
    width: $minMobile;
  }

  // tablet screen
  @media screen and (min-width: 768px) {
    padding: 0 $containerPadTablet;
    width: $minTablet;
  }

  // desktop screen
  @media screen and (min-width: 1200px) {
    padding: 0 $containerPadDesktop;
    width: $minDesktop;
  }
}
