@import '~node_modules/modern-normalize/modern-normalize.css';
.btn-read-more,
.btn-locations,
.btn-buy-now, .btn-how-its-made, .btn-franchise, .btn-products {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  border-radius: 10px;
  color: #000000;
}
.btn-read-more:focus,
.btn-locations:focus,
.btn-buy-now:focus, .btn-how-its-made:focus, .btn-franchise:focus, .btn-products:focus {
  color: #fcfcfc;
}

.btn-how-its-made, .btn-franchise, .btn-products {
  background-color: transparent;
  border: 2px solid #f8d24e;
}
.btn-how-its-made:hover, .btn-franchise:hover, .btn-products:hover, .btn-how-its-made:focus, .btn-franchise:focus, .btn-products:focus {
  border: 2px solid #0a8817;
}

.btn-read-more,
.btn-locations,
.btn-buy-now {
  background-color: #f8d24e;
  border: 2px solid #f8d24e;
}
.btn-read-more:hover,
.btn-locations:hover,
.btn-buy-now:hover, .btn-read-more:focus,
.btn-locations:focus,
.btn-buy-now:focus {
  background-color: #0a8817;
  border: 2px solid #0a8817;
}

/* == GLOBAL STYLES RESET == */
/* headings and paragraphs */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* ul */
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* button */
.btn {
  padding: 0;
  cursor: pointer;
}

/* img */
.image {
  display: block;
  max-width: 100%;
  height: auto;
}

/* a */
.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* == BASIC PAGE STYLES == */
body {
  font-family: "Montserrat", sans-serif;
  color: #fcfcfc;
  background-color: #84a178;
}

header,
section,
footer {
  outline: 1px solid tomato;
}

.container {
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 16px;
    width: 1200px;
  }
}

/* === BUTTONS === */
.btn-products {
  width: 134px;
  height: 42px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .btn-products {
    width: 108px;
    height: 38px;
    font-size: 12px;
    line-height: 1.25;
    border-radius: 8px;
  }
}

.btn-read-more,
.btn-locations,
.btn-buy-now,
.btn-franchise {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
}
.btn-read-more__icon,
.btn-locations__icon,
.btn-buy-now__icon,
.btn-franchise__icon {
  fill: inherit;
}
.btn-read-more:focus .btn-read-more__icon,
.btn-read-more:focus .btn-locations__icon,
.btn-read-more:focus .btn-buy-now__icon,
.btn-read-more:focus .btn-franchise__icon,
.btn-locations:focus .btn-read-more__icon,
.btn-locations:focus .btn-locations__icon,
.btn-locations:focus .btn-buy-now__icon,
.btn-locations:focus .btn-franchise__icon,
.btn-buy-now:focus .btn-read-more__icon,
.btn-buy-now:focus .btn-locations__icon,
.btn-buy-now:focus .btn-buy-now__icon,
.btn-buy-now:focus .btn-franchise__icon,
.btn-franchise:focus .btn-read-more__icon,
.btn-franchise:focus .btn-locations__icon,
.btn-franchise:focus .btn-buy-now__icon,
.btn-franchise:focus .btn-franchise__icon {
  fill: #fcfcfc;
}

.btn-read-more {
  width: 164px;
}

.btn-locations,
.btn-franchise {
  width: 196px;
}

.btn-buy-now {
  width: 152px;
}

.btn-how-its-made {
  width: 154px;
  height: 40px;
  line-height: 1.2142857143;
  text-decoration: underline;
  border: 2px solid transparent;
  color: #f8d24e;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .btn-how-its-made {
    font-size: 12px;
    line-height: 1.25;
  }
}
.btn-how-its-made:hover, .btn-how-its-made:focus {
  border: 2px solid transparent;
}
.btn-how-its-made:hover {
  color: #0a8817;
}

/* === HEADER === */
.header__container {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  flex-basis: 69.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .header__menu {
    display: none;
  }
}
.header__menu-item:not(:last-child) {
  margin-right: 28px;
}
.header__menu-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}
.header__menu-link:hover, .header__menu-link:focus {
  color: #f8d24e;
}
.header__button-wrap {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__buy-now {
    display: none;
  }
}

.mobile-menu-open {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-menu-open {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu-open {
    display: none;
  }
}
.mobile-menu-open__icon {
  fill: #ffffff;
}
.mobile-menu-open:hover .mobile-menu-open__icon, .mobile-menu-open:focus .mobile-menu-open__icon {
  fill: #f8d24e;
}

/* === FOOTER ==== */
.footer-upper-container {
  padding: 0 20px 40px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-upper-container {
    padding: 0 32px 32px 33px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-upper-container {
    padding: 60px 16px;
  }
}
@media screen and (min-width: 768px) {
  .footer-upper-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}
.footer-lower-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-lower-container {
    padding: 12px 20px 12px 42px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-lower-container {
    padding: 12px 0;
    width: 1168px;
  }
}
@media screen and (min-width: 768px) {
  .footer-lower-container {
    flex-direction: row;
  }
}
.footer__title-wrap {
  margin-bottom: 60px;
  width: 234px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__title-wrap {
    width: 352px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title-wrap {
    width: 504px;
  }
}
@media screen and (min-width: 768px) {
  .footer__title-wrap {
    margin-bottom: 0;
  }
}
.footer__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__title {
    font-size: 26px;
    line-height: 1.2307692308;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.9;
  }
}
@media screen and (min-width: 768px) {
  .footer__title {
    letter-spacing: 0.04em;
  }
}
.footer__title:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__title:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title:not(:last-child) {
    margin-bottom: 14px;
  }
}
.footer__title--big {
  font-size: 34px;
  line-height: 1.2058823529;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__title--big {
    font-size: 48px;
    line-height: 1.2291666667;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title--big {
    font-weight: 700;
    font-size: 58px;
    line-height: 1.224137931;
  }
}
@media screen and (min-width: 768px) {
  .footer__title--big {
    letter-spacing: 0.06em;
  }
}
.footer__contacts-wrap {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__contacts-wrap {
    margin-top: 61px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts-wrap {
    justify-content: end;
  }
}
.footer__phone-wrap {
  display: flex;
  justify-content: end;
  align-items: center;
}
.footer__phone-text {
  margin-right: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8333333333;
  color: #131313;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__phone-text {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .footer__phone-text {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.02em;
  }
}
.footer__phone-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8333333333;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__phone-link {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .footer__phone-link {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.02em;
  }
}
.footer__phone-link:hover, .footer__phone-link:focus {
  color: #f8d24e;
}
.footer__rights {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #7a7a7a;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__rights {
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .footer__rights {
    font-size: 12px;
    line-height: 1.8333333333;
  }
}
@media screen and (min-width: 768px) {
  .footer__rights {
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .footer__rights:not(:last-child) {
    margin-right: 4px;
  }
}

.social-contacts__list {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social-contacts__list {
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .social-contacts__list {
    margin-bottom: 40px;
  }
}
.social-contacts__item:not(:last-child) {
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .social-contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f8d24e;
}
.social-link-icon {
  fill: #84a178;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover .social-link-icon, .social-link:focus .social-link-icon {
  fill: #fcfcfc;
}/*# sourceMappingURL=index.css.map */