/*=== MODAL WINDOWS ===*/
/* Modal window Buy now */
.modal {
  // // Common
  // margin: 0 auto;
  // width: 280px;
  // background-color: $phoneContactColor;
  // outline: 1px solid crimson;

  // @include tablet-and-desktop {
  //   width: 568px;
  // }

  &__container-buy-now {
    padding: 28px 28px 29px;

    @include tablet-and-desktop {
      padding: 32px 54px;
    }
  }
  // common
  // &__close-btn {
  //   position: absolute;
  //   top: 12px;
  //   right: 12px;

  //   @extend %btn-icons;

  //   @include tablet-and-desktop {
  //   }
  // }

  // &__close-icon {
  //   fill: $secondaryColor;
  //   transition: $myFillTransition;

  //   @include tablet-and-desktop {
  //     width: 24px;
  //     height: 24px;
  //   }
  // }

  // &__close-btn:hover &__close-icon,
  // &__close-btn:focus &__close-icon {
  //   fill: $secondaryAccentColor;
  // }

  // Form title

  &__title-products {
    margin-bottom: 83px;

    // font-family: $secondaryFont;
    // font-weight: 400;
    // font-size: 16px;
    // line-height: calc(24 / 16);
    // text-align: center;

    // color: $secondaryColor;

    @include tablet-and-desktop {
      margin-bottom: 103px;

      // font-size: 20px;
      // line-height: calc(28 / 20);
    }
  }

  // Form

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // Product list

  &__form-checkbox-list {
    display: grid;
    justify-items: center;

    @include less-then-tablet {
      margin-bottom: 32px;

      grid-template-columns: 1fr;
      grid-auto-rows: minmax(136px, auto);
      row-gap: 82px;
    }

    @include tablet-and-desktop {
      margin-bottom: 40px;

      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(135px, auto);
      column-gap: 32px;
    }
  }

  // Cards

  &__product-item {
    position: relative;

    padding: 96px 10px 20px;
    width: 132px;
    border-radius: 15px;
    border: 2px solid transparent;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));

    @include tablet-and-desktop {
      padding: 95px 10px 20px;
    }

    &--green,
    &--yellow,
    &--chocolate {
      background-color: transparent;
      transition: $myBgColorTransition;
    }

    &--green {
      border-color: $colorGreen;
      &:hover {
        background-color: $colorGreen;
      }
    }

    &--yellow {
      border-color: $colorYellow;
      &:hover {
        background-color: $colorYellow;
      }
    }

    &--chocolate {
      border-color: $colorChocolate;
      &:hover {
        background-color: $colorChocolate;
      }
    }
  }

  // Product checkbox

  &__product-checkbox {
    display: none;
  }

  .ice-cream:checked + &__product-item {
    background-color: $colorGreen;
  }

  .ice-coffee:checked + &__product-item {
    background-color: $colorYellow;
  }

  .milkshake:checked + &__product-item {
    background-color: $colorChocolate;
  }

  // Circle thumbs for images

  &__product-circle {
    position: absolute;
    top: -66px;
    left: -2px;
    z-index: 2;

    width: 132px;
    height: 132px;

    border-radius: 50%;

    &--green {
      background: linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

      &::before {
        @extend %product-img-modal;
        background-image: url(../images/products/png/product-modal1-132.png);
        @include pixel-ratio-2x {
          background-image: url(../images/products/png/product-modal1-@2x-264.png);
        }
      }
    }

    &--yellow {
      background: linear-gradient(
          0deg,
          rgba(248, 210, 78, 0.7),
          rgba(248, 210, 78, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);

      &::before {
        @extend %product-img-modal;
        background-image: url(../images/products/png/product-modal2-132.png);
        @include pixel-ratio-2x {
          background-image: url(../images/products/png/product-modal2-@2x-264.png);
        }
      }
    }

    &--chocolate {
      background: linear-gradient(
          0deg,
          rgba(213, 117, 63, 0.7),
          rgba(213, 117, 63, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);

      &::before {
        @extend %product-img-modal;
        background-image: url(../images/products/png/product-modal3-132.png);
        @include pixel-ratio-2x {
          background-image: url(../images/products/png/product-modal3-@2x-264.png);
        }
      }
    }
  }

  &__product-name {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $secondaryColor;
  }

  //   &__form-input-list {
  //     margin-bottom: 26px;

  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;

  //     @include tablet-and-desktop {
  //       margin-bottom: 32px;
  //     }
  //   }

  //   &__form-input-item:not(:last-child) {
  //     margin-bottom: 12px;

  //     @include tablet-and-desktop {
  //       margin-bottom: 16px;
  //     }
  //   }

  //   &__form-input {
  //     padding: 8px 12px;
  //     width: 224px;
  //     height: 32px;

  //     font-weight: 400;
  //     font-size: 12px;
  //     line-height: calc(17 / 12);

  //     color: $secondaryColor;
  //     background: rgba(248, 210, 78, 0.1);
  //     border: 1px solid $mainBgColor;
  //     border-radius: 10px;

  //     @include tablet-and-desktop {
  //       padding: 11px 16px;
  //       width: 368px;
  //       height: 42px;

  //       font-size: 14px;
  //       line-height: calc(20 / 14);
  //     }

  //     &::placeholder {
  //       font-weight: 400;
  //       font-size: 12px;
  //       line-height: calc(17 / 12);

  //       color: $secondaryColor;

  //       @include tablet-and-desktop {
  //         font-size: 14px;
  //         line-height: calc(20 / 14);
  //       }
  //     }

  //     &:not(:placeholder-shown):invalid {
  //       border-color: crimson;
  //     }
  //   }

  //   .comment {
  //     height: 65px;
  //     resize: none;

  //     @include tablet-and-desktop {
  //       height: 84px;
  //     }
  //   }

  //   &__form-field:focus-within &__form-input {
  //     border-color: $mainAccentColor;
  //     outline: none;
  //   }
}
