/* === COMMON STYLES FOR MODAL WINDOWS === */
.backdrop {
  visibility: hidden;
  opacity: 0;
  // transform: scale(0);
  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba($color: $disabledColor, $alpha: 0.8);
  // opacity: 1;

  transition: $myOpacityTransition;
  transition: $myTransformTransition;

  // transition-property: opacity transform;
  // transition-duration: 500ms;

  // &.is-hidden {
  //   visibility: hidden;
  //   opacity: 0;
  //   transform: scale(0);
  //   pointer-events: none;
  // }
}

/* === COMMON STYLES OF MODAL WINDOWS === */
.modal {
  visibility: hidden;
  opacity: 0;
  overflow-y: scroll;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0 auto;
  width: 280px;
  max-height: 94%;
  background-color: $phoneContactColor;
  border: 1px solid $modalBorderColor;
  border-radius: 5px;

  @include tablet-and-desktop {
    width: 568px;
  }

  // Custom scroll-bar
  /* width */
  &::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background: $disabledColor;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: crimson;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: yellow;
  }

  &__container {
    position: relative;
  }

  &__close-btn {
    position: absolute;
    top: 12px;
    right: 12px;

    @extend %btn-icons;
  }

  &__close-icon {
    fill: $secondaryColor;
    transition: $myFillTransition;

    @include tablet-and-desktop {
      width: 24px;
      height: 24px;
    }
  }

  &__close-btn:hover &__close-icon,
  &__close-btn:focus &__close-icon {
    fill: $secondaryAccentColor;
  }

  &__title {
    font-family: $secondaryFont;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    text-align: center;

    color: $secondaryColor;

    @include tablet-and-desktop {
      font-size: 20px;
      line-height: calc(28 / 20);
    }
  }

  &__form-input-list {
    margin-bottom: 26px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet-and-desktop {
      margin-bottom: 32px;
    }
  }

  &__form-input-item:not(:last-child) {
    margin-bottom: 12px;

    @include tablet-and-desktop {
      margin-bottom: 16px;
    }
  }

  &__form-input {
    padding: 8px 12px;
    width: 224px;
    height: 32px;

    font-weight: 400;
    font-size: 12px;
    line-height: calc(17 / 12);

    color: $secondaryColor;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid $mainBgColor;
    border-radius: 10px;

    @include tablet-and-desktop {
      padding: 11px 16px;
      width: 368px;
      height: 42px;

      font-size: 14px;
      line-height: calc(20 / 14);
    }

    &::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: calc(17 / 12);

      color: $secondaryColor;

      @include tablet-and-desktop {
        font-size: 14px;
        line-height: calc(20 / 14);
      }
    }

    &:not(:placeholder-shown):invalid {
      border-color: crimson;
    }
  }

  .comment {
    height: 65px;
    resize: none;

    @include tablet-and-desktop {
      height: 84px;
    }
  }

  &__form-field:focus-within &__form-input {
    border-color: $mainAccentColor;
    outline: none;
  }
}

.modal.active,
.backdrop.active {
  opacity: 1;
  visibility: visible;
  // transform: scale(1);
  z-index: 999;
}
