// Mixin for mobile styles

@mixin only-mobile {
  @media screen and (max-width: calc($minTablet - 1px)) {
    @content;
  }
}

// Mixin for tablet styles

@mixin only-tablet {
  @media screen and (min-width: $minTablet) and (max-width: calc($minDesktop - 1px)) {
    @content;
  }
}

// Mixin for desktop styles

@mixin only-desktop {
  @media screen and (min-width: $minDesktop) {
    @content;
  }
}

// Mixin for common mobile and tablet styles

@mixin mobile-and-tablet {
  @media screen and (min-width: $minMobile) and (max-width: calc($minDesktop - 1px)) {
    @content;
  }
}

// Mixin for common tablet and desktop styles

@mixin tablet-and-desktop {
  @media screen and (min-width: $minTablet) {
    @content;
  }
}

// Mixin for pixel-ratio-media-queries

@mixin pixel-ratio-2x {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}

// Mixin for button border styles

@mixin button-border($btnBorderColor) {
  border: 2px solid $btnBorderColor;
}

// Flex-center-2-axis

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
