// Text for buttons

%btn-text {
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);

  border-radius: 10px;

  color: $buttonTextColor;

  &:focus {
    color: $mainColor;
  }
}

// Buttons with transparent background

%btn-transparent-bg {
  @extend %btn-text;

  background-color: transparent;
  color: $secondaryColor;

  border: 2px solid $mainAccentColor;

  &:hover,
  &:focus {
    border-color: $secondaryAccentColor;
  }
}

// Buttons with colored background

%btn-colored-bg {
  @extend %btn-text;

  background-color: $mainAccentColor;
  border: 2px solid $mainAccentColor;

  &:hover,
  &:focus {
    background-color: $secondaryAccentColor;
    border-color: $secondaryAccentColor;
  }
}

// Buttons with transparent background and without border

%btn-transparent-bg-no-border {
  @extend %btn-text;

  background-color: transparent;
  border: none;
}

// Links styled as buttons

%link-btn-styled {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
}

// Buttons with svg icons without text

%btn-icons {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

// Visually observed headings of sections

%heading {
  font-family: $secondaryFont;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include only-tablet {
    font-size: 34px;
    line-height: calc(43 / 34);
  }

  @include only-desktop {
    font-size: 36px;
    line-height: calc(45 / 36);
  }

  @include tablet-and-desktop {
    letter-spacing: 0.06em;
  }
}

// Product card positioned image

%product-img {
  content: '';
  position: absolute;
  top: -11px;
  left: 0;

  width: $thumbDiameterMobileTablet;
  height: $thumbDiameterMobileTablet;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-size: cover;

  @include only-tablet {
    top: -12px;
  }

  @include only-desktop {
    top: -16px;

    width: $thumbDiameterDesktop;
    height: $thumbDiameterDesktop;
  }
}
