// Text for buttons

%btn-text {
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);

  border-radius: 10px;

  color: $buttonTextColor;

  &:focus {
    color: $mainColor;
  }
}

// Buttons with transparent background

%btn-transparent-bg {
  @extend %btn-text;

  background-color: transparent;

  @include button-border($mainAccentColor);

  &:hover,
  &:focus {
    @include button-border($secondaryAccentColor);
  }
}

// Buttons with colored background

%btn-colored-bg {
  @extend %btn-text;

  background-color: $mainAccentColor;
  @include button-border($mainAccentColor);

  &:hover,
  &:focus {
    background-color: $secondaryAccentColor;
    @include button-border($secondaryAccentColor);
  }
}

// Buttons with transparent background and without border

%btn-transparent-bg-no-border {
  @extend %btn-text;

  background-color: transparent;
  border: none;
}

// Buttons with svg icons without text

%btn-icons {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

// Visually observed headings of sections

%heading {
  font-family: $secondaryFont;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include only-tablet {
    font-size: 34px;
    line-height: calc(43 / 34);
  }

  @include only-tablet {
    font-size: 36px;
    line-height: calc(45 / 36);
  }

  @include tablet-and-desktop {
    letter-spacing: 0.06em;
  }
}
