// === Variables ===

// Fonts

$mainFont: 'Montserrat', sans-serif;
$secondaryFont: 'Seymour One', sans-serif;

// Colors

$mainColor: #fcfcfc;
$secondaryColor: #131313;
$mainAccentColor: #f8d24e;
$secondaryAccentColor: #0a8817;
$disabledColor: #ababab;
$addressColor: #d6936d;
$timeColor: #907e82;
$rightsColor: #7a7a7a;
$phoneContactColor: #ffffff;
$buttonTextColor: #000000;
$paginationBulletColor: #d9d9d9;

// Background colors

$mainBgColor: #84a178;
$secondaryBgColor: #fcfcfc;

// Border colors

$contactsBorderColor: #e1e1e1;
$modalBorderColor: #4e6c50;

// Breakpoints

$minMobile: 480px;
$minTablet: 768px;
$minDesktop: 1200px;

// Min screen
$minScreen: 320px;

// Transitions

$transitionTime: 250ms;
$transitionFunction: cubic-bezier(0.4, 0, 0.2, 1);

$myColorTransition: color $transitionTime $transitionFunction;
$myBgColorTransition: background-color $transitionTime $transitionFunction;
$myFillTransition: fill $transitionTime $transitionFunction;
$myTransformTransition: transform $transitionTime $transitionFunction;
$myBoxShadowTransition: box-shadow $transitionTime $transitionFunction;
$myOpacityTransition: opacity $transitionTime $transitionFunction;
$myBorderColorTransition: border-color $transitionTime $transitionFunction;

// Container paddings

$containerPadMobile: 20px;
$containerPadTablet: 32px;
$containerPadDesktop: 16px;

// Product cards

$cardWidthMobile: 280px;
$cardWidthTablet: 224px;
$cardWidthDesktop: 370px;

$thumbDiameterMobileTablet: 200px;
$thumbDiameterDesktop: 302px;

$colorGreen: #aec6a5;
$colorYellow: #efd478;
$colorChocolate: #d6936d;

// Gallery animation

$animationTime: 7s;
$numberGalleryImages: 3;
$percentPerImage: calc(100 / $numberGalleryImages);
