<!-- ADVANTAGES -->
<section class="advantages">
  <div class="container advantages__container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="list advantages__list">
      <li class="advantages__item">
        <div class="advantages__icon-bg advantages__icon-bg--cow"></div>
        <p class="advantages__value">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon-bg advantages__icon-bg--weight"></div>
        <p class="advantages__value">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__icon-bg advantages__icon-bg--ice-crema"></div>
        <p class="advantages__value">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
