<!-- === CONTACTS === -->
<section class="contacts">
  <div class="container">
    <h2>Contacts</h2>
    <ul class="list">
      <!-- 1st card -->
      <li>
        <p>cafe</p>
        <div>
          <p>Chicago</p>
          <p>10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
          <div>
            <ul class="list">
              <li>
                <p>Monday - Friday</p>
                <p>06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p>Saturday - Sunday</p>
                <p>08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <div>
              <ul class="list">
                <li><a class="link" href="">+61(0) 383 766 284</a></li>
                <li><a class="link" href="">noreply@envato.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <!-- 2nd card -->
      <li>
        <p>food truck</p>
        <div>
          <p>Los Angeles</p>
          <p>1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</p>
          <div>
            <ul class="list">
              <li>
                <p>Monday - Friday</p>
                <p>06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p>Saturday - Sunday</p>
                <p>08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <div>
              <ul class="list">
                <li><a class="link" href="">+61(0) 383 766 284</a></li>
                <li><a class="link" href="">noreply@envato.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <!-- 3rd card -->
      <li>
        <p>cafe</p>
        <div>
          <p>New York</p>
          <p>726 Sterling Pl, Brooklyn, NY 11222, USA</p>
          <div>
            <ul class="list">
              <li>
                <p>Monday - Friday</p>
                <p>06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p>Saturday - Sunday</p>
                <p>08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <div>
              <ul class="list">
                <li><a class="link" href="">+61(0) 383 766 284</a></li>
                <li><a class="link" href="">noreply@envato.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!-- Buttons -->
    <ul>
      <li><button class="btn" type="button">Our Locations</button></li>
      <li><button class="btn" type="button">Franchise</button></li>
    </ul>
  </div>
</section>
