<!-- GALLERY -->
<section class="gallery">
  <div class="container">
    <ul class="list">
      <li>
        <img
          src="./images/gallery/jpg/gallery-mobile1-280.jpg"
          alt="ice-cream"
        />
      </li>
      <li>
        <img
          src="./images/gallery/jpg/gallery-mobile2-280.jpg"
          alt="ice-cream"
        />
      </li>
      <li>
        <img
          src="./images/gallery/jpg/gallery-mobile3-280.jpg"
          alt="ice-cream"
        />
      </li>
    </ul>
  </div>
</section>
