<!-- HEADER -->
<div class="container">
  <nav class="page-nav">
    <a href="" class="link logo">logo</a>
    <ul class="list">
      <li><a href="" class="link">Home</a></li>
      <li><a href="" class="link">How it’s made?</a></li>
      <li><a href="" class="link">Our products</a></li>
      <li><a href="" class="link">Contact</a></li>
    </ul>
  </nav>
  <button class="btn btn-buy-now">
    Buy now
    <svg class="btn-buy-now__icon" width="12" height="12">
      <use href="./images/icons/svg-icons.svg#icon-right-arrow"></use>
    </svg>
  </button>
</div>
