<!-- === HEADER === -->
<div class="container">
  <!-- navigation -->
  <nav class="nav-page">
    <!-- logo -->
    <a href="" class="link logo">logo</a>  
<!-- menu -->
<ul class="list menu">
    <li><a class="link menu__link" href="">Home</a></li>
    <li><a class="link menu__link" href="">How it’s made?</a></li>
    <li><a class="link menu__link" href="">Our products</a></li>
    <li><a class="link menu__link" href="">Contact</a></li>
</ul>
</nav>
<!-- button -->
<button type="button">Buy now</button>
</div>
