<!-- === HEADER === -->
<div class="container header__container">
  <!-- Page navigation -->
  <nav class="header__nav">
    <!-- Logo -->
    <a href="" class="link header__logo">
      <img
        class="header__logo-img"
        srcset="
          ./images/logo/logo-mobile-40-37.png  40w,
          ./images/logo/logo-tablet-48-44.png  48w,
          ./images/logo/logo-desktop-60-65.png 60w
        "
        sizes="(min-width: 1200px) 60px, (min-width: 768px) 48px, (min-width: 480px) 40px, 100vw"
        src="./images/logo/logo-mobile-40-37.png"
        alt="logo"
        width="40"
        height="37"
      />
    </a>
    <!-- Menu -->
    <ul class="list header__menu">
      <li class="header__menu-item">
        <a href="index.html" class="link header__menu-link">Home</a>
      </li>
      <li class="header__menu-item">
        <a href="#about" class="link header__menu-link">How it’s made?</a>
      </li>
      <li class="header__menu-item">
        <a href="#products" class="link header__menu-link">Our products</a>
      </li>
      <li class="header__menu-item">
        <a href="#contacts" class="link header__menu-link">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="header__button-wrap">
    <!-- Mobile menu open button -->
    <button
      class="btn mobile-menu-open js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="mobile-menu-open__icon" width="32" height="32">
        <use href="./images/icons/svg-icons.svg#icon-burger"></use>
      </svg>
    </button>
    <!-- Button Buy now -->
    <button class="btn btn-buy-now header__buy-now">
      Buy now
      <svg class="btn-buy-now__icon" width="12" height="12">
        <use href="./images/icons/svg-icons.svg#icon-right-arrow"></use>
      </svg>
    </button>
  </div>
</div>
