<!-- HERO -->
<section class="hero">
  <div class="container">
    <h1>ice cream made with passion</h1>
    <ul class="list">
      <li><button class="btn" type="button">Products</button></li>
      <li><button class="btn" type="button">How it’s made?</button></li>
    </ul>
    <img
      src="./images/plate/png/plate-ice-cream-tablet-152.png"
      alt="plate with ice-cream"
    />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <ul class="list">
      <li>
        <p>16</p>
        <p>cafes</p>
      </li>
      <li>
        <p>23</p>
        <p>food trucks</p>
      </li>
    </ul>
    <img
      src="./images/ice-cream/png/ice-cream-mobile-177.png"
      alt="ice cream in a waffle cup"
    />
    <img src="./images/dots/png/dots-mobile-320.png" alt="yellow dots" />
  </div>
</section>
