<!-- === HOW IT'S MADE === -->
<div class="backdrop is-hidden">
  <div class="modal">
    <div class="modal__container modal__container-about">
      <!-- Close button -->
      <button class="btn modal__close-btn">
        <svg class="modal__close-icon" width="20" height="20">
          <use href="./images/icons/svg-icons.svg#icon-modal-cross"></use>
        </svg>
      </button>
      <!-- Title -->
      <p class="modal__title modal__title-about">How it's made?</p>
      <!-- Video -->
      <div class="modal-about__video-wrap">
        <iframe
          class="modal-about__video"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/8WEMZ86Eho8"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <!-- Text -->
      <p class="modal-about__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      </p>
    </div>
  </div>
</div>
