<!-- === LOCATION === -->
<div class="backdrop js-overlay-modal">
  <div class="modal" data-modal="6">
    <div class="modal__container modal__container-about">
      <!-- Close button -->
      <button class="btn modal__close-btn js-modal-close">
        <svg class="modal__close-icon" width="20" height="20">
          <use href="./images/icons/svg-icons.svg#icon-modal-cross"></use>
        </svg>
      </button>
      <!-- Title -->
      <p class="modal__title modal__title-location">Our locations</p>
      <!-- Map -->
      <div class="modal-location__map-wrap">
        <iframe
          class="modal-location__map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.792934074306!2d-87.78192918514964!3d41.70340558430844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e39ad302b2c19%3A0xc808e9b14d04eb2b!2zMTAzNDAgUmlkZ2VsYW5kIEF2ZSwgQ2hpY2FnbyBSaWRnZSwgSUwgNjA0MTUsINCh0L_QvtC70YPRh9C10L3RliDQqNGC0LDRgtC4INCQ0LzQtdGA0LjQutC4!5e0!3m2!1suk!2sua!4v1674402765219!5m2!1suk!2sua"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <!-- Open map button -->
      <a
        href="https://www.google.com/maps/@41.7034056,-87.7819292,17z"
        target="_blank"
        rel="noopener nofollow noreferrer"
        class="modal-location__open-map-btn"
        >Open map</a
      >
    </div>
  </div>
</div>
