<!-- PRODUCTS -->
<section class="products" id="products">
  <div class="container products__container">
    <p class="products__subtitle">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="list products__list">
      <li class="products__item products__item--green">
        <div class="products__circle products__circle--green"></div>
        <h3 class="products__name">ice cream</h3>
        <p class="products__description">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="btn products__arrow js-open-modal" aria-label="ice cream order open button" data-modal="3">
          <svg class="products__arrow-icon" width="40" height="16">
            <use href="./images/icons/svg-icons.svg#icon-long-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--yellow">
        <div class="products__circle products__circle--yellow"></div>
        <h3 class="products__name">ice coffee</h3>
        <p class="products__description">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="btn products__arrow js-open-modal" aria-label="ice coffee order open button" data-modal="4">
          <svg class="products__arrow-icon" width="40" height="16">
            <use href="./images/icons/svg-icons.svg#icon-long-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--brown">
        <div class="products__circle products__circle--brown"></div>
        <h3 class="products__name">milkshakes</h3>
        <p class="products__description">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="btn products__arrow js-open-modal" aria-label="milkshakes order open button" data-modal="5">
          <svg class="products__arrow-icon" width="40" height="16">
            <use href="./images/icons/svg-icons.svg#icon-long-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
