<!-- REVIEWS -->
<section class="reviews">
  <div class="container">
    <ul class="list">
      <li>
        <img src="./images/customers/jpg/customer-tablet1-84.jpg" alt="woman" />
        <p>
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p>Emily, Los Angeles</p>
      </li>
      <li>
        <img src="./images/customers/jpg/customer-tablet2-84.jpg" alt="man" />
        <p>
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p>Bryan, New-York</p>
      </li>
      <li>
        <img src="./images/customers/jpg/customer-tablet3-84.jpg" alt="woman" />
        <p>
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p>Diana, Chicago</p>
      </li>
    </ul>
  </div>
</section>
