/* === CONTACTS === */

.contacts {
  background: linear-gradient(
    to bottom,
    transparent 353px,
    0%,
    $mainBgColor 1095px
  );

  @include only-tablet {
    background: linear-gradient(
      to bottom,
      transparent 299px,
      0%,
      $mainBgColor 360px
    );
  }

  @include only-desktop {
    background: linear-gradient(
      to bottom,
      transparent 128px,
      0%,
      $mainBgColor 636px
    );
  }

  //   Contacts container

  &__container {
    padding-bottom: 60px;

    @include only-tablet {
      padding-bottom: 40px;
    }

    @include only-desktop {
      padding-bottom: 120px;
    }
  }

  //   List of outlets
  &__list {
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-auto-rows: minmax(412px, auto);

    @include less-then-tablet {
      row-gap: 16px;
    }

    @include tablet-and-desktop {
      grid-template-columns: repeat(3, 1fr);
    }

    @include only-tablet {
      margin-bottom: 40px;

      column-gap: 16px;
      grid-auto-rows: minmax(537px, auto);
    }

    @include only-desktop {
      margin-bottom: 60px;

      column-gap: 32px;
      grid-auto-rows: minmax(542px, auto);
    }
  }

  //   Card of outlet
  &__item {
    margin: 0 auto;
    padding: 40px 32px 24px;

    border-radius: 24px;

    text-align: left;

    background-color: $secondaryBgColor;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    transition: $myBoxShadowTransition;
    transition: $myTransformTransition;

    @include less-then-tablet {
      width: 280px;
    }

    @include only-tablet {
      padding: 40px 24px;
    }

    @include only-desktop {
      padding: 40px;
    }

    &:hover,
    &:focus {
      box-shadow: 0px 8px 30px rgba($secondaryAccentColor, 0.5);
      transform: scale(1.03);
    }
  }

  // Title of outlet

  &__title {
    margin-bottom: 20px;
    padding: 4px 22px;
    display: inline-block;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    border-radius: 4px;
    color: $secondaryColor;
    background-color: $mainAccentColor;

    @include tablet-and-desktop {
      margin-bottom: 32px;
      padding: 4px 13px;

      font-size: 16px;
      line-height: calc(22 / 16);

      border-radius: 6px;
    }

    @include only-desktop {
      padding: 4px 14px;
    }
  }

  //   Container for outlet address

  &__address-wrap {
    margin-bottom: 24px;

    @include tablet-and-desktop {
      margin-bottom: 32px;
    }
  }

  //   City of outlet

  &__city {
    margin-bottom: 8px;

    @extend %contacts-text;
    letter-spacing: 0.04em;

    color: $secondaryColor;

    @include only-tablet {
      margin-bottom: 12px;
    }
  }

  //   Postal address of outlet

  &__address {
    @extend %contacts-text;

    font-style: normal;
    letter-spacing: 0.04em;

    color: $addressColor;

    @include only-desktop {
      line-height: calc(29 / 16);
    }
  }

  //   Working schedule

  &__working-time {
    margin-bottom: 24px;
    padding-top: 24px;

    border-top: 1px solid $contactsBorderColor;

    @include tablet-and-desktop {
      margin-bottom: 32px;
      padding-top: 32px;
    }
  }

  &__working-time-item:not(:last-child) {
    margin-bottom: 8px;

    @include only-desktop {
      margin-bottom: 12px;
    }
  }

  //   Working days of outlet

  &__working-days {
    @extend %contacts-text;

    color: $secondaryColor;
  }

  //   Working hours of outlet

  &__working-hours {
    @extend %contacts-text;

    color: $disabledColor;
  }

  //   Contacts of outlet

  &__contacts-list {
    padding-top: 24px;

    border-top: 1px solid $contactsBorderColor;

    @include tablet-and-desktop {
      padding-top: 32px;
    }
  }

  &__contacts-item:not(:last-child) {
    margin-bottom: 6px;

    @include tablet-and-desktop {
      margin-bottom: 4px;
    }
  }

  &__contacts-link {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(19 / 12);
    color: $secondaryColor;
    transition: $myBgColorTransition;

    @include only-tablet {
      font-size: 14px;
      line-height: calc(21 / 14);
    }

    @include only-desktop {
      font-size: 16px;
      line-height: calc(24 / 16);
    }

    &:hover,
    &:focus {
      color: $addressColor;
    }
  }

  //   Buttons

  &__button-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet-and-desktop {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__button-item:not(:last-child) {
    @include less-then-tablet {
      margin-bottom: 16px;
    }

    @include tablet-and-desktop {
      margin-right: 16px;
    }
  }
}
