/* === HEADER === */

.header {
  background-color: $mainBgColor;

  &__container {
    padding-top: 12px;
    padding-bottom: 12px;

    @include flex-spaced-between;

    @include only-tablet {
      padding-top: 20px;
      padding-bottom: 16px;
    }

    @include only-desktop {
      padding-top: 8px;
      padding-bottom: 31px;
    }
  }

  &__nav {
    flex-basis: 69.5%;
    @include flex-spaced-between;
  }

  &__menu {
    @include flex-centered;

    @include less-then-desktop {
      display: none;
    }
  }

  &__menu-item:not(:last-child) {
    margin-right: 28px;
  }

  &__menu-link {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    transition: $myColorTransition;
    transition: $myTransformTransition;

    &:hover,
    &:focus {
      color: $mainAccentColor;
      transform: scale(1.1);
    }

    @include only-desktop {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__button-wrap {
    display: flex;
    align-items: center;
  }

  &__buy-now {
    @include less-then-tablet {
      display: none;
    }
  }
}

.mobile-menu-open {
  @extend %btn-icons;

  @include only-tablet {
    margin-right: 32px;
  }

  @include only-desktop {
    display: none;
  }

  &__icon {
    fill: $phoneContactColor;
    transition: $myFillTransition;
  }

  &:hover &__icon,
  &:focus &__icon {
    fill: $mainAccentColor;
  }
}
