/* === HEADER === */

.header {
  &__container {
    padding-top: 12px;
    padding-bottom: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include only-tablet {
      padding-top: 20px;
      padding-bottom: 16px;
    }

    @include only-desktop {
      padding-top: 8px;
      padding-bottom: 31px;
    }
  }

  &__nav {
    flex-basis: 69.5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 40px;
    height: 37px;

    @include only-tablet {
      width: 48px;
      height: 44px;
    }

    @include only-desktop {
      width: 60px;
      height: 65px;
    }
  }

  &__logo-img {
    width: 100%;
    height: 100%;
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;

    @include less-then-desktop {
      display: none;
    }
  }

  &__menu-item:not(:last-child) {
    margin-right: 28px;
  }

  &__menu-link {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);

    &:hover,
    &:focus {
      color: $mainAccentColor;
    }

    @include only-desktop {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__button-wrap {
    display: flex;
    align-items: center;
  }

  &__buy-now {
    @include less-then-tablet {
      display: none;
    }
  }
}

.mobile-menu-open {
  @extend %btn-icons;

  @include only-tablet {
    margin-right: 32px;
  }

  @include only-desktop {
    display: none;
  }

  &__icon {
    fill: $phoneContactColor;
  }

  &:hover &__icon,
  &:focus &__icon {
    fill: $mainAccentColor;
  }
}
