/* === HERO === */

.hero {
  height: 441px;

  @include only-tablet {
    height: 337px;
  }

  @include only-desktop {
    height: 560px;
  }

  // Header-container

  &__container {
    padding-top: 38px;

    display: flex;
    flex-direction: column;

    height: 100%;

    @include tablet-and-desktop {
      position: relative;

      flex-direction: row;
      justify-content: space-between;
    }

    @include only-tablet {
      padding-top: 0;
    }

    @include only-desktop {
      padding-top: 14px;
    }
  }

  // Wrap for left-side elements

  &__wrap {
    max-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  // Page title h1

  &__page-title {
    margin-bottom: 32px;
    width: 247px;

    font-family: $secondaryFont;
    font-weight: 400;
    font-size: 26px;
    line-height: calc(33 / 26);
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $mainColor;

    @include only-tablet {
      margin-bottom: 24px;
    }

    @include only-desktop {
      margin-bottom: 28px;

      width: 367px;

      font-size: 38px;
      line-height: calc(48 / 38);
    }

    &--accent {
      font-size: 34px;
      line-height: calc(33 / 34);

      @include only-desktop {
        font-size: 38px;
        line-height: calc(48 / 38);
      }
    }
  }

  // Buttons

  &__button-list {
    margin-bottom: 19px;
    display: flex;
    align-items: center;

    @include only-tablet {
      margin-bottom: 12px;
    }

    @include only-desktop {
      margin-bottom: 42px;
    }
  }

  &__button-item:not(:last-child) {
    margin-right: 12px;
  }

  // Wrap for plate with ice-creams and text

  &__plate-wrap {
    display: flex;
    align-items: center;
  }

  // Elements hidden for mobile screens

  &__plate-picture,
  &__text-wrap,
  &__outlet-list {
    @include less-then-tablet {
      display: none;
    }
  }

  // Plate with ice-creams

  &__plate-picture {
    margin-right: 32px;

    @include only-desktop {
      margin-right: 16px;
    }
  }

  &__plate-img {
    @include only-tablet {
      width: 152px;
      height: 152px;
    }

    @include only-desktop {
      width: 225px;
      height: 225px;
    }
  }

  &__text {
    margin-bottom: 12px;
    width: 139px;

    font-weight: 400;
    font-size: 12px;
    line-height: calc(17 / 12);

    color: $mainColor;

    @include only-desktop {
      margin-top: 29px;
      margin-bottom: 24px;
      width: 200px;

      font-size: 14px;
      line-height: calc(20 / 14);
    }

    &-icon {
      fill: $mainColor;
    }
  }

  // Outlets

  &__outlet-list {
    margin-top: 14px;

    @include only-desktop {
      margin-top: 8px;
    }
  }

  &__outlet-item {
    text-align: right;
  }

  &__outlet-item:not(:last-child) {
    margin-bottom: 20px;

    @include only-desktop {
      margin-bottom: 16px;
    }
  }

  &__outlet-number {
    margin-bottom: 4px;

    font-weight: 900;
    font-size: 28px;
    line-height: calc(34 / 28);
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $secondaryColor;

    @include only-desktop {
      font-size: 46px;
      line-height: calc(56 / 46);
    }
  }

  &__outlet-name {
    font-weight: 400;
    font-size: 8px;
    line-height: calc(10 / 8);

    color: $mainColor;

    @include only-desktop {
      font-size: 14px;
      line-height: calc(17 / 14);
    }
  }

  // Wrap for absolutely positioned images

  &__img-wrap {
    margin: 0 auto;
    position: relative;
    width: 320px;
    height: 217px;

    @include only-tablet {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 768px;
      height: 329px;
    }

    @include only-desktop {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 1200px;
      height: 560px;
    }
  }

  &__img-ice-cream {
    position: absolute;
    bottom: 0;
    left: 26%;

    width: 177px;
    height: 100%;

    @include only-tablet {
      width: 268px;
      left: 408px;
    }

    @include only-desktop {
      width: 456px;
      left: 652px;
    }
  }

  &__img-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    width: 100%;
  }
}
