/* === HERO === */

.hero {
  height: 441px;
  background-color: $mainBgColor;

  @include only-tablet {
    height: 337px;
  }

  @include only-desktop {
    height: 560px;
  }

  // Hero-container

  &__container {
    position: relative;
    padding-top: 38px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    @include tablet-and-desktop {
      flex-direction: row;
      justify-content: space-around;
    }

    @include only-tablet {
      padding-top: 0;
    }

    @include only-desktop {
      padding-top: 14px;
    }
  }

  // Elements hidden for mobile screens

  &__plate-picture,
  &__details,
  &__outlet-list {
    @include less-then-tablet {
      display: none;
    }
  }

  // Wrap for text content and button-styled links

  &__wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  // Wrap for left-side elements

  &__left-wrap {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  // Page title

  &__page-title {
    margin-bottom: 32px;
    width: 247px;

    font-family: $secondaryFont;
    font-weight: 400;
    font-size: 26px;
    line-height: calc(33 / 26);
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $mainColor;

    @include only-tablet {
      margin-bottom: 24px;
    }

    @include only-desktop {
      margin-bottom: 28px;
      width: 367px;

      font-size: 38px;
      line-height: calc(48 / 38);
    }

    &--accent {
      font-size: 34px;
      line-height: calc(33 / 34);

      @include only-desktop {
        font-size: 38px;
        line-height: calc(48 / 38);
      }
    }
  }

  // Button-styled links

  &__button-list {
    margin-bottom: 19px;

    display: flex;
    align-items: center;
    z-index: 99;

    @include only-tablet {
      margin-bottom: 12px;
    }

    @include only-desktop {
      margin-bottom: 42px;
    }
  }

  &__button-item:not(:last-child) {
    margin-right: 12px;
  }

  // Outlets (right-side elements)

  &__outlet-list {
    margin-top: 14px;

    @include only-desktop {
      margin-top: 8px;
    }
  }

  &__outlet-item {
    text-align: right;
  }

  &__outlet-item:not(:last-child) {
    margin-bottom: 20px;

    @include only-desktop {
      margin-bottom: 16px;
    }
  }

  &__outlet-number {
    margin-bottom: 4px;

    font-weight: 900;
    font-size: 28px;
    line-height: calc(34 / 28);
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $secondaryColor;

    @include only-desktop {
      font-size: 46px;
      line-height: calc(56 / 46);
    }
  }

  &__outlet-name {
    font-weight: 400;
    font-size: 8px;
    line-height: calc(10 / 8);

    color: $mainColor;

    @include only-desktop {
      font-size: 14px;
      line-height: calc(17 / 14);
    }
  }

  // Absolutely positioned images

  &__img-dots {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__img-ice-cream {
    position: absolute;
    bottom: 0;
    left: 83px;
    z-index: 2;
    width: 177px;
    animation: scaling 2s linear;
    transition: $myTransformTransition;

    @include only-tablet {
      width: 268px;
      left: 408px;
    }

    @include only-desktop {
      width: 456px;
      left: 652px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  // Plate with ice-creams

  &__plate-picture {
    position: absolute;
    z-index: 2;
    margin-right: 32px;
    transition: $myTransformTransition;
    animation: spin 5s linear;

    @include only-tablet {
      left: 32px;
      bottom: 12px;
    }

    @include only-desktop {
      left: 16px;
      bottom: 65px;
      margin-right: 16px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__plate-img {
    @include only-tablet {
      width: 152px;
      height: 152px;
    }

    @include only-desktop {
      width: 225px;
      height: 225px;
    }
  }

  // Details

  &__details {
    position: absolute;
    z-index: 99;

    font-weight: 400;
    color: $mainColor;

    @include only-tablet {
      left: 216px;
      bottom: 24px;

      width: 139px;
      font-size: 12px;
      line-height: calc(17 / 12);
    }

    @include only-desktop {
      left: 257px;
      bottom: 103px;

      width: 200px;
      font-size: 14px;
      line-height: calc(20 / 14);
    }
  }

  &__summary {
    z-index: 99;
    cursor: pointer;
    display: list-item;
    fill: $mainColor;
    list-style-image: url('../images/icons/long-arrow-40-1.svg');
  }
}

/* Spin animation for plate in hero */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Scale animation for ice-cream in hero */

@keyframes scaling {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
