/* === PRODUCTS ===*/

.products {
  text-align: center;

  // Products container

  &__container {
    padding-top: 60px;
    padding-bottom: 60px;

    display: flex;
    flex-direction: column;

    @include less-then-tablet {
      align-items: center;
    }

    @include only-desktop {
      padding: 86px 0 34px;
    }
  }

  // Section title

  &__title {
    margin-bottom: 145px;

    @extend %heading;

    color: $secondaryColor;

    @include only-tablet {
      margin-bottom: 200px;

      letter-spacing: 0.04em;
    }

    @include only-desktop {
      margin-bottom: 303px;
    }
  }

  // Subtitle

  &__subtitle {
    margin-bottom: 12px;

    font-weight: 800;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-transform: uppercase;

    color: $secondaryColor;

    @include only-tablet {
      font-size: 22px;
      line-height: calc(27 / 22);
    }

    @include only-desktop {
      font-size: 30px;
      line-height: calc(37 / 30);
    }
  }

  // Product cards

  &__list {
    align-self: center;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-auto-rows: minmax(420px, auto);

    width: calc($minScreen - 2 * $containerPadMobile);

    @include less-then-tablet {
      row-gap: 168px;
    }

    @include tablet-and-desktop {
      grid-template-columns: repeat(3, 1fr);
    }

    @include only-tablet {
      width: calc($minTablet - 2 * $containerPadTablet);

      column-gap: 16px;
      grid-auto-rows: minmax(428px, auto);
    }

    @include only-desktop {
      width: calc($minDesktop - 2 * $containerPadDesktop);

      column-gap: 29px;
      grid-auto-rows: minmax(536px, auto);
    }
  }

  &__item {
    position: relative;

    padding: 123px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: $cardWidthMobile;
    border-radius: 24px;
    transition: $myBoxShadowTransition;

    @include only-tablet {
      padding: 108px 26px 12px;

      width: $cardWidthTablet;
    }

    @include only-desktop {
      padding: 165px 64px 60px;

      width: $cardWidthDesktop;
    }

    &--green {
      background-color: $colorGreen;
      transition: $myBoxShadowTransition;

      &:hover .products__circle {
        box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.75);
      }
    }

    &--yellow {
      background-color: $colorYellow;
      transition: $myBoxShadowTransition;

      &:hover .products__circle {
        box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.75);
      }
    }

    &--brown {
      background-color: $colorChocolate;
      transition: $myBoxShadowTransition;

      &:hover .products__circle {
        box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.75);
      }
    }

    &:hover {
      box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
    }
  }

  // Circle thumbs for images

  &__circle {
    position: absolute;
    top: -100px;
    left: calc(($cardWidthMobile - $thumbDiameterMobileTablet) / 2);
    z-index: 2;

    width: $thumbDiameterMobileTablet;
    height: $thumbDiameterMobileTablet;

    border-radius: 50%;

    @include only-tablet {
      top: -108px;
      left: calc(($cardWidthTablet - $thumbDiameterMobileTablet) / 2);
    }

    @include only-desktop {
      top: -167px;
      left: calc(($cardWidthDesktop - $thumbDiameterDesktop) / 2);

      width: $thumbDiameterDesktop;
      height: $thumbDiameterDesktop;
    }

    &--green {
      background-color: #aec6a5;
      box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);

      &::before {
        @extend %product-img-section;
        background-image: url(../images/products/png/product-tablet-mobile1-200.png);
        @include pixel-ratio-2x {
          background-image: url(../images/products/png/product-tablet-mobile1-@2x-400.png);
        }

        @include only-desktop {
          background-image: url(../images/products/png/product-desktop1-302.png);
          @include pixel-ratio-2x {
            background-image: url(../images/products/png/product-desktop1-@2x-604.png);
          }
        }
      }
    }

    &--yellow {
      background-color: #efd478;
      box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);

      &::before {
        @extend %product-img-section;
        background-image: url(../images/products/png/product-tablet-mobile2-200.png);
        @include pixel-ratio-2x {
          background-image: url(../images/products/png/product-tablet-mobile2-@2x-400.png);
        }

        @include only-desktop {
          background-image: url(../images/products/png/product-desktop2-302.png);
          @include pixel-ratio-2x {
            background-image: url(../images/products/png/product-desktop2-@2x-604.png);
          }
        }
      }
    }

    &--brown {
      background-color: #d6936d;
      box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);

      &::before {
        @extend %product-img-section;
        background-image: url(../images/products/png/product-tablet-mobile3-200.png);
        @include pixel-ratio-2x {
          background-image: url(../images/products/png/product-tablet-mobile3-@2x-400.png);
        }

        @include only-desktop {
          background-image: url(../images/products/png/product-desktop3-302.png);
          @include pixel-ratio-2x {
            background-image: url(../images/products/png/product-desktop3-@2x-604.png);
          }
        }
      }
    }
  }

  // Product name

  &__name {
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 20px;
    line-height: calc(24 / 20);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $secondaryColor;

    @include only-tablet {
      font-size: 22px;
      line-height: calc(27 / 22);
    }

    @include only-desktop {
      margin-bottom: 66px;

      font-size: 30px;
      line-height: calc(37 / 30);
    }
  }

  // Product description

  &__description {
    margin-bottom: auto;

    font-weight: 400;
    font-size: 14px;
    line-height: calc(25 / 14);
    text-align: center;
    letter-spacing: 0.04em;

    color: $secondaryColor;

    @include only-desktop {
      font-size: 16px;
      line-height: calc(28 / 16);
    }
  }

  // Icon arrow

  &__arrow {
    @extend %btn-icons;

    &-icon {
      fill: $secondaryColor;
      transition: $myFillTransition;
    }

    &:hover &-icon {
      fill: $mainColor;
    }
  }
}
