#scroll-btn {
  z-index: 999;
  opacity: 0;
  width: 40px;
  height: 40px;
  background-color: $mainAccentColor;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 2px solid $secondaryAccentColor;
  border-radius: 50%;
  transition: opacity 500ms, transform 500ms;
  transition: $myFillTransition, $myBgColorTransition;

  @include tablet-and-desktop {
    width: 60px;
    height: 60px;
  }

  &:hover {
    background-color: $mainColor;
  }
}

#scroll-btn.show {
  opacity: 1;
  transition: opacity 1s, transform 1s;
  animation: pulse 2s ease-in-out;
  animation-iteration-count: infinite;
}

.btn__icon {
  width: 30px;
  height: 25px;
  fill: $mainColor;

  @include tablet-and-desktop {
    width: 40px;
    height: 35px;
  }

  &:hover {
    fill: $mainAccentColor;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
